@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 18%, 26%);
  height: 100vh;
  color: hsl(234, 29%, 20%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1.7rem;
  width: 50rem;
  height: 30rem;
}
.container .mobile {
  display: none;
}
.container .subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}
.container .subContainer h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.container .subContainer ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.container .subContainer ul li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.container .subContainer .email {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.container .subContainer .email div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container .subContainer .email div .e {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .subContainer .email div .e label {
  font-weight: 700;
  font-size: 0.8rem;
}
.container .subContainer .email div .e .error {
  color: hsl(4, 100%, 67%);
  display: none;
}
.container .subContainer .email div input[type=text] {
  border: 1px solid hsl(231, 7%, 60%);
  padding-left: 1.5rem;
}
.container .subContainer .email div input[type=text]:hover, .container .subContainer .email div input[type=text]:focus {
  cursor: pointer;
  border: 1px solid hsl(234, 29%, 20%);
}
.container .subContainer .email input[type=text], .container .subContainer .email #btn {
  height: 3rem;
  border-radius: 0.4rem;
}
.container .subContainer .email #btn {
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  position: relative;
}
.container .subContainer .email #btn::after {
  content: "";
  background: linear-gradient(to right, rgb(255, 108, 145), hsl(4, 100%, 67%));
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 12px;
  filter: blur(1rem);
  opacity: 0;
}
.container .subContainer .email #btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 108, 145), hsl(4, 100%, 67%));
}
.container .subContainer .email #btn:hover::after {
  opacity: 1;
}

.success {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.7rem;
  padding: 3rem;
  width: 380px;
  height: 350px;
}
.success div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.success div img {
  width: 40px;
  height: 40px;
}
.success div h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.success div p {
  line-height: 1.4rem;
}
.success div p span {
  font-weight: 700;
}
.success #successBtn {
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  height: 3rem;
  border-radius: 0.4rem;
  position: relative;
  font-size: 0.9rem;
}
.success #successBtn::after {
  content: "";
  background: linear-gradient(to right, rgb(255, 108, 145), hsl(4, 100%, 67%));
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 12px;
  filter: blur(1rem);
  opacity: 0;
}
.success #successBtn:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 108, 145), hsl(4, 100%, 67%));
}
.success #successBtn:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    width: 40rem;
    height: 25rem;
  }
  .container .subContainer {
    gap: 1rem;
    padding: 1rem;
  }
  .container .subContainer h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .container .subContainer ul {
    gap: 0.5rem;
  }
  .container .subContainer ul li {
    gap: 0.7rem;
  }
  .container .subContainer .email {
    gap: 0.8rem;
  }
}
@media (max-width: 425px) {
  body {
    height: 100%;
  }
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
  }
  .container .mobile {
    display: block;
  }
  .container .subContainer {
    gap: 1.5rem;
    padding: 2rem;
  }
  .container .subContainer ul {
    gap: 0.8rem;
  }
  .container .subContainer ul li {
    gap: 1rem;
  }
  .container .subContainer .email {
    gap: 1.4rem;
  }
  .container .desktop {
    display: none;
  }
  .success {
    padding: 4rem 2rem;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .success div h1 {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */